.slick{
    height: 480px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.slick-top-ra{
    /* padding: 3rem; */
    background-color: black;
    height: 90px;

}
.slick p{
    padding-top: 1rem;
    text-align: center;
    font-size: 1.4rem;
    color: red;
}

.slick h1{
    text-align: center;
    padding-bottom: 1rem;
}

@media(max-width: 500px) {
    .slick{
        display: none;
    }

    
}
